:root {
  --gw-transform-origin: center;
  --gw-scale-factor: 1;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: 10px;
  transform-origin: var(--gw-transform-origin);
  transform: scale(var(--gw-scale-factor));
  min-width: 375px;
  height: 100vh;
}

.gameWrapper .row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
}

.gameWrapper .canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gameWrapper .canvasContainer .canvas {
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 512px;
  height: 512px;
}

.gameWrapper .stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.gameWrapper .stats .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  min-width: 120px;
  min-height: 44px;
}

.gameWrapper .playerControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.gameWrapper .playerControls .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  min-height: 120px;
  min-width: 44px;
}

.gameWrapper .playerControls .item .shortcut {
  font-weight: bold;

}

.gameWrapper .gameControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.gameWrapper .gameControls .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  min-width: 120px;
  min-height: 44px;
}

.gameWrapper .gameControls .item .shortcut {
  font-weight: bold;
}

@media (max-width: 675px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.95;
  }
}

@media (max-width: 625px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.85;
  }
}

@media (max-width: 550px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.75;
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.65;
  }
}

@media (max-width: 425px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.55;
  }
}

@media (max-width: 374px) and (orientation: portrait) {
  :root {
    --gw-scale-factor: 0.5;
  }
}

@media (max-height: 675px) and (orientation: landscape) {
  :root {
    /* --gw-transform-origin: top; */
    --gw-scale-factor: 0.95;
  }
}

@media (max-height: 625px) and (orientation: landscape) {
  :root {
    --gw-scale-factor: 0.85;
  }
}

@media (max-height: 550px) and (orientation: landscape) {
  :root {
    --gw-scale-factor: 0.75;
  }
}

@media (max-height: 475px) and (orientation: landscape) {
  :root {
    --gw-scale-factor: 0.65;
  }
}

@media (max-height: 425px) and (orientation: landscape) {
  :root {
    --gw-scale-factor: 0.60;
  }
}

@media (max-height: 375px) and (orientation: landscape) {
  :root {
    --gw-scale-factor: 0.55;
  }
}
