@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1em 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 1em 0;
}

h4 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 1em 0;
}

h5 {
  font-size: 1em;
  font-weight: 550;
  margin: 1em 0;
}

h6 {
  font-size: 1em;
  font-weight: 600;
  margin: 1em 0;
}

p {
  margin: 0 0 1em;
  line-height: 1.5;
}
